<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".ClinicApp"
        android:allowBackup="false"
        android:label="العيادة"
        android:theme="@style/AppTheme"
        android:supportsRtl="true">
        <activity android:name=".MainActivity" android:screenOrientation="portrait" android:exported="false" />
        <activity android:name=".LoginActivity" android:screenOrientation="portrait" android:exported="false" />
        <activity android:name=".SubscriptionActivity" android:screenOrientation="portrait" android:exported="false" />
        <activity
            android:name=".LauncherActivity"
            android:screenOrientation="portrait"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
